html {
    height: 100%
}

body.signin {
    height: auto;
    background: url(../img/web/login-background.png) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

.signinpanel {
    width: 350px;
    margin: 10% auto 0;
    color: rgba(255, 255, 255, .95)
}

.signinpanel .form-control {
    display: block;
    margin-top: 15px
}

.signinpanel .uname {
    background: #fff url(../img/web/user.png) no-repeat 95% center;
    color: #333
}

.signinpanel .pword {
    background: #fff url(../img/web/locked.png) no-repeat 95% center;
    color: #333
}

.signinpanel .btn {
    margin-top: 15px
}

.signinpanel form {
    background: rgba(255, 255, 255, .2);
    border: 1px solid rgba(255, 255, 255, .3);
    -moz-box-shadow: 0 3px 0 rgba(12, 12, 12, .03);
    -webkit-box-shadow: 0 3px 0 rgba(12, 12, 12, .03);
    box-shadow: 0 3px 0 rgba(12, 12, 12, .03);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 30px
}